@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    <script src="https://kit.fontawesome.com/a75ff89abd.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")

    <style>
        .topnav {
            padding: 0;
            margin: 0;
            text-decoration: none;
            list-style: none;
            box-sizing: border-box;
        }

        body {
            font-family: "Poppins", sans-serif;
        }

        nav {
            background: #AF51F8;
            height: 60px;
            width: 100%;
        }

        label.logo {
            color: white;
            font-size: 35px;
            line-height: 60px;
            padding: 0 100px;
            font-weight: bold;
        }

        nav ul {
            float: right;
            margin-right: 30px;
        }

            nav ul li {
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
            }

                nav ul li a {
                    color: white;
                    font-size: 17px;
                    padding: 7px 13px;
                    border-radius: 3px;
                    text-transform: uppercase;
                }

        .topnav a {
            text-align: center;
            padding: 14px 14px;
            text-decoration: none;
            font-size: 17px;
        }

            .topnav a:hover {
                background: #a32efc;
                transition: .5s;
            }

            .topnav a.active {
                background: #a32efc;
                transition: .5s;
            }

        .checkbtn {
            font-size: 30px;
            color: white;
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }

        #check {
            display: none;
        }
    </style>


</head>
<body>

    @{ QuickClean.Models.User uCurrent = new QuickClean.Models.User();
        uCurrent = uCurrent.GetUserSession(); }

    <div class="topnav">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">QuickClean</label>

            <ul>
                <a href="~/Home/Properties" title="Home">Home</a>
                @if (uCurrent.IsAuthenticated)
                { // already logged in
                    <a href="~/Profile/SignOut" title="Sign Out">Sign Out</a>

                    if (uCurrent.Role == "cleaner")
                    {
                            <a href="~/Profile/CleanerIndex" title="CleanerProfile">Profile</a> 
                    }
                    else
                    {
                            <a href="~/Profile/Index" title="Profile">Profile</a> 
                    }
                }
                else
                { // not logged in
                    <a href="~/Profile/SignUp" title="Sign Up">Sign Up</a>
                    <a href="~/Profile/SignIn" title="Sign In">Login</a>
                }
                    <a href="~/AboutUs/Index" title="For More Information"> More</a>
                
            </ul>
        </nav>
        <section></section>
    </div>

    <div id="workspace">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
