@model web2.Models.HomeContent

@{
    ViewBag.Title = "Current Properties ";
}
<style>
    .user-image-container {
        height: 225px;
    }

    .property-thumbnail {
        margin: 0.25em;
    }

    .property-link {
        font-weight: bold;
        font-size: 0.8em;
        margin-bottom: 0.3em;
    }

    .property-date {
        font-size: 0.8em;
        margin-bottom: 0.3em;
    }

    .in-active {
        background-color: lightgrey;
    }

    .like {
        color: #4CAF50;
    }

    .mycanvas-follow {
        color: #4CAF50;
    }

    .mycanvas-following {
        color: #4CAF50;
    }

    .web2-like {
        color: #4CAF50;
    }

    .like-link:hover {
        cursor: pointer;
    }

    .like-link {
        text-decoration: none;
        margin-right: 0.75em;
    }

    .disabled-spacing {
        margin-right: 0.75em;
        font-size: 0.8em;
    }

    .your-item {
        color: darkgrey
    }
</style>

<h2>@ViewBag.Title</h2>
@if (Model.Properties.Count == 0)
{
    <p>No properties listed at this time.</p>
}
else
{
    <div>
        @foreach (web2.Models.Property e in Model.Properties)
         {
            <div id="image-@e.ID" class="user-image-container">
                @if (e.PropertyImage != null)
                {
                    <a href="@Url.Action("Property", new { id = e.ID })">
                        <img class="user-profile-thumbnail" src="@string.Concat("data:Image/",
								e.PropertyImage.FileExtension, ";base64,",
								e.PropertyImage.BytesBase64)" />
                    </a>
                 }
                <div class="property-thumbnail">
                    <div class="property-link"><a href="@Url.Action("Property", new { id = e.ID })">@e.Location.Address.Address1</a></div>
                    <div class="property-date">@e.Start.DayOfWeek @e.Start.ToShortDateString()</div>
                </div>
            </div>
                   
         }
    </div>
}
<script>
    $(document).ready(function () {
        SetActiveMenus('home');
    });
</script>

